<h1>Orders</h1>
<%= form_tag export_admin_orders_path, method: :get do %>
	<%= text_field_tag "from_date", nil, class: "datepicker" %> to 
	<%= text_field_tag "to_date", nil, class: "datepicker" %>
	<%= submit_tag "Download Report" %>
<% end %>

<%= will_paginate @orders %>
<table>
	<thead>
<th>ID</th>
<th>Order Date</th>
<th>Status</th>
<th>Email</th>
<th>Total</th>
</thead>
<% @orders.each do |order| %>
<tr>

	<td><%= link_to order.id, admin_order_path(order) %></td>
	<td><%= order.order_date.try(:strftime, "%m/%d/%Y") %></td>
	<td><%= order.status %></td>
	<td><%= order.user.guest? ? order.user.guest_email : order.user.email %></td>
	<td><%= humanized_money_with_symbol order.total %></td>

</tr>
<% end %>
</table>