<div>
	Subtotal: <%= humanized_money_with_symbol order.subtotal %>
</div>
<div>
	Shipping: <%= humanized_money_with_symbol order.shipping %>
</div>
<% unless order.savings == 0 %>
<div>
	Savings: <%= humanized_money_with_symbol order.savings %>
</div>
<% end %>
<div>
	Tax: <%= humanized_money_with_symbol order.tax %>
</div>
<div>
	Total: <%= humanized_money_with_symbol order.total %>
</div>
