    <% content_for :title do %>
			Checkout
		<% end %>    

<div class="container main-container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12">

			<!-- RECENT PRODUCT -->
			<div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
				<div class="no-padding">
					<span class="title">RECENT PRODUCT</span>
				</div>
				<% Product.order("created_at DESC").limit(2).each do |product| %>
				<div class="thumbnail col-lg-12 col-md-12 col-sm-6 text-center">
					<%= link_to product_path(product), class: "link-p" do %>
					<%= image_tag product.product_images.last.image_url %>
					<% end %>
					<div class="caption prod-caption">
			<h4><%= link_to product.name, product_path(product) %></h4>
			<p><%= product.short_description %></p>
			<p>
							<div class="btn-group">
								<%= form_tag add_to_cart_checkout_path, method: :post do %>
								<%= hidden_field_tag "quantity", 1 %>
								<%= hidden_field_tag "variant_id", product.variants.last.id %>
								<%= submit_tag humanized_money_with_symbol(product.variants.last.price), class: "btn btn-default" %>
						
								<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
								<i class="fa fa-shopping-cart"></i> Buy
								<% end %>
								<% end %>
							</div>
						</p>
					</div>
				</div>
				<% end %>
			</div>
			<!-- End RECENT PRODUCT -->

		</div>

		<div class="clearfix visible-sm"></div>

		<!-- Cart -->
		<div class="col-lg-9 col-md-9 col-sm-12">
			<% unless current_user %>
			<div class="user_info col-lg-12 col-sm-12">
				<ul class="user_info_errors">
				</ul>
        
				<%= link_to "Sign up", "", class: "checkout_sign_up_link" %>
				<%= link_to "Log in", "", class: "checkout_log_in_link" %>

				<div class="sign_up_div">
					<span class="title">SIGN UP</span>
					<%= form_tag signup_user_checkout_path, method: :post, remote: true do %>
					<table class="table table-bordered tbl-checkout">
						<tr>
							<td><%= label_tag "user[email]", "Email" %></td>
							<td><%= text_field_tag "user[email]", nil, class: "form-control" %></td>
						</tr>
		
						<tr>
							<td><%= label_tag "user[password]", "Password" %></td>
							<td><%= password_field_tag "user[password]", nil, class: "form-control" %></td>
						</tr>
		
						<%= hidden_field_tag "user[guest]", false %>
		
					</table>
					<%= submit_tag "Sign up", class: "btn btn-primary" %>
					<% end %>
				</div>
	
				<div class="log_in_div">
					<span class="title">LOG IN</span>
					<%= form_tag login_user_checkout_path, remote: true do %>
					<table class="table table-bordered tbl-checkout">
						<tr>
							<td><%= label_tag 'user[email]', 'Email' %></td>
							<td><%= text_field_tag 'user[email]', nil, class: "form-control" %></td>
						</tr>
						<tr>
							<td><%= label_tag "user[password]", "Password" %></td>
							<td><%= password_field_tag 'user[password]', nil, class: "form-control" %></td>
						</tr>


			
			
					</table>
					<%= check_box_tag 'user[remember_me]' %>
					<%= label_tag 'user[remember_me]', 'Remember me' %><br>
								
					<%= submit_tag "Log in", class: "btn btn-primary" %>
					<%= link_to "Forgot your password?", new_password_path(:user) %>
					<% end %>
				</div>
			</div>
			<% end %>
						
						
			<div class="col-lg-12 col-sm-12">
				<ul class="payment_info_errors">
				</ul>
				<span class="title">SHIPPING ADDRESS</span>
			</div>
			<div class="col-lg-12 col-sm-12 hero-feature payment_info">
				<%= form_for @payment_info, url: update_billing_checkout_path, remote: true, method: :put do |f| %>
				<table class="table table-bordered tbl-checkout">
					<tbody>
							
						<tr>
							<td><%= f.label :shipping_address_first_name, "First Name" %></td>
							<td>
								<%= f.text_field :shipping_address_first_name, class: "form-control" %>
							</td>
							<td><%= f.label :shipping_address_last_name, "Last Name" %></td>
							<td>
								<%= f.text_field :shipping_address_last_name, class: "form-control" %>
							</td>
						</tr>
						<tr>
							<td><%= f.label :shipping_address_street_address, "Street Address" %></td>
							<td>
								<%= f.text_field :shipping_address_street_address, class: "form-control" %>
							</td>
							<td><%= f.label :shipping_address_street_address2, "Apt/Suite" %></td>
							<td>
								<%= f.text_field :shipping_address_street_address2, class: "form-control" %>
							</td>
						</tr>
						<!-- <tr>
							<td>Address</td>
							<td colspan="3">
							<textarea name="" class="form-control"></textarea>
							</td>
							</tr> -->
							<tr>
								<td><%= f.label :shipping_address_city, "City" %></td>
								<td>
									<%= f.text_field :shipping_address_city, class: "form-control" %>
								</td>
								<td><%= f.label :shipping_address_state_id, "State" %></td>
								<td>
									<%= f.collection_select :shipping_address_state_id, State.all, :id, :short_name, class: "form-control" %>
								</td>
							</tr>
							<tr>
								<td><%= f.label :shipping_address_zip_code, "Zip Code" %></td>
								<td>
									<%= f.text_field :shipping_address_zip_code, class: "form-control" %> 
								</td>
								<td><%= f.label :shipping_address_phone_number, "Phone Number" %></td>
								<td>
									<%= f.text_field :shipping_address_phone_number, class: "form-control" %>
								</td>
							</tr>
							<!-- <tr>
								<td>Comment</td>
								<td colspan="3">
								<textarea name="" class="form-control"></textarea>
								</td>
								</tr> -->
							</tbody>
						</table>
					</div>
					<div class="col-lg-12 col-sm-12">
						<span class="title">BILLING ADDRESS</span>

					</div>
					<div class="col-lg-12 col-sm-12 hero-feature payment_info">
						<div>
							<%= label_tag "clone_shipping_address", "Same as shipping address" %>
							<%= check_box_tag "clone_shipping_address" %>
						</div>
						<table class="table table-bordered tbl-checkout">
							<tbody>
							
								<tr>
									<td><%= f.label :billing_address_first_name, "First Name" %></td>
									<td>
										<%= f.text_field :billing_address_first_name, class: "form-control" %>
									</td>
									<td><%= f.label :billing_address_last_name, "Last Name" %></td>
									<td>
										<%= f.text_field :billing_address_last_name, class: "form-control" %>
									</td>
								</tr>
								<tr>
									<td><%= f.label :billing_address_street_address, "Street Address" %></td>
									<td>
										<%= f.text_field :billing_address_street_address, class: "form-control" %>
									</td>
									<td><%= f.label :billing_address_street_address2, "Apt/Suite" %></td>
									<td>
										<%= f.text_field :billing_address_street_address2, class: "form-control" %>
									</td>
								</tr>
								<!-- <tr>
									<td>Address</td>
									<td colspan="3">
									<textarea name="" class="form-control"></textarea>
									</td>
									</tr> -->
									<tr>
										<td><%= f.label :billing_address_city, "City" %></td>
										<td>
											<%= f.text_field :billing_address_city, class: "form-control" %>
										</td>
										<td><%= f.label :billing_address_state_id, "State" %></td>
										<td>
											<%= f.collection_select :billing_address_state_id, State.all, :id, :short_name, class: "form-control" %>
										</td>
									</tr>
									<tr>
										<td><%= f.label :billing_address_zip_code, "Zip Code" %></td>
										<td>
											<%= f.text_field :billing_address_zip_code, class: "form-control" %> 
										</td>
										<td><%= f.label :billing_address_phone_number, "Phone Number" %></td>
										<td>
											<%= f.text_field :billing_address_phone_number, class: "form-control" %>
										</td>
									</tr>
									<!-- <tr>
										<td>Comment</td>
										<td colspan="3">
										<textarea name="" class="form-control"></textarea>
										</td>
										</tr> -->
									</tbody>
								</table>
							</div>
							
							
							<div class="col-lg-12 col-sm-12">
								<span class="title">CREDIT CARD</span>
							</div>
							<div class="col-lg-12 col-sm-12 hero-feature payment_info">
								<table class="table table-bordered tbl-checkout">
									<tbody>
							
										<tr>
											<td><%= f.label :credit_card_number, "Card Number" %></td>
											<td>
												<%= f.text_field :credit_card_number, autocomplete: 'off', class: "form-control" %>
											</td>
											<td><%= f.label :credit_card_exp_mm, "Expiration Date" %></td>
											<td>
												<%= select_month((f.object.credit_card_exp_mm.try(:to_i) || Date.today), {use_two_digit_numbers: true}, name: "payment_info[credit_card_exp_mm]" ) %>
												<%= select_year((f.object.credit_card_exp_yyyy.try(:to_i) || Date.today), {}, start_year: Date.today.year, end_year: Date.today.year+10, name: "payment_info[credit_card_exp_yyyy]" )%>
											</td>
										</tr>
										<tr>
											<td><%= f.label :credit_card_cvv, "CVV" %></td>
											<td>
												<%= f.text_field :credit_card_cvv, autocomplete: 'off', value: '', class: "form-control" %>
											</td>
										</tr>
											</tbody>
										</table>
									</div>
					
		<div class="col-lg-12 col-sm-12">
			<span class="title">COUPON</span>
		</div>
		<div class="col-lg-12 col-sm-12 hero-feature payment_info">
			<table class="table table-bordered tbl-checkout">
				<tbody>
		
					<tr>
						<td><%= f.label :coupon_code %></td>
						<td>
							<% if @site_wide_coupon && order_qualifies_for_coupon?(@order, @site_wide_coupon) %>
							<%= f.text_field :coupon_code, autocomplete: 'off', value: @site_wide_coupon.code, class: "form-control" %>
							<% else %>
							<%= f.text_field :coupon_code, autocomplete: 'off', class: "form-control" %>
							<% end %>
						</td>
						
					</tr>
						</tbody>
					</table>
					
					<%= f.submit "Review", id: "review_order_button", class: "btn btn-primary" %>
					<span id="review_spinner"><%= image_tag "spinning-wheel.gif", width: 50 %></span>
				</div>
				
				
					
							<% end %>
							<div class="col-lg-12 col-sm-12 hero-feature order_info">
							<%= submit_tag "Edit Payment Info", id: "edit_payment_info_button", class: "btn btn-primary"%>
							
							<%= form_tag submit_order_checkout_path, remote: true do %>
							<table class="table table-bordered tbl-cart">
								
								<thead>
									<tr>
										<td>Product Name</td>
										<td class="td-qty">Quantity</td>
										<td>Unit Price</td>
										<td>Sub Total</td>
										<!-- <td>Action</td> -->
									</tr>
								</thead>
								<tbody>
									<% current_or_guest_user.cart.cart_items.each do |cart_item| %>
									<tr>
										<td><%= cart_item.variant.product.name %></td>
										<td class="text-center"><%= cart_item.quantity %></td>
										<td class="price"><%= humanized_money_with_symbol(cart_item.variant.price) %></td>
										<td><%= cart_item.total %></td>
										<!-- <td class="text-center">
											<a href="#" class="remove_cart" rel="2">
												<i class="fa fa-trash-o"></i>
											</a>
										</td> -->
									</tr>
									<% end %>
									<tr>
										<td colspan="3" align="right">Subtotal</td>
										<td class="total" colspan="2"><b class="cart_subtotal"><%= humanized_money_with_symbol current_or_guest_user.cart.total %></b></td>
									</tr>
									<tr>
										<td colspan="3" align="right">Shipping Rate</td>
										<td class="total" colspan="2"><b class="cart_shipping">---</b></td>
									</tr>
									<tr class="savings_row">
										<td colspan="3" align="right">Savings</td>
										<td class="total" colspan="2"><b class="cart_savings">---</b></td>
									</tr>
									<tr>
										<td colspan="3" align="right">Tax</td>
										<td class="total" colspan="2"><b class="cart_tax">---</b></td>
									</tr>
									<tr>
										<td colspan="3" align="right">Total</td>
										<td class="total" colspan="2"><b class="cart_total">---</b></td>
									</tr>
								</tbody>
							</table>
							
							<div class="credit_card_inputs">
							</div>
							
							<div class="btn-group btns-cart">
								<%= submit_tag "Submit Order", id: "submit_order_button", class: "btn btn-primary" %>
								<span id="submit_spinner"><%= image_tag "spinning-wheel.gif", width: 50 %></span>
							</div>
							<% end %>
						</div>
						

						</div>
					</div>
					<!-- End Cart -->


				</div>
			</div>