    <% content_for :title do %>
			Shopping Cart
		<% end %>
		
		<div class="container main-container">
        <div class="row">
        	<div class="col-lg-3 col-md-3 hidden-sm">

				<!-- Best Seller -->
				<%= render "shared/best_seller" %>
				<!-- End Best Seller -->

        	</div>

        	<div class="clearfix visible-sm"></div>

			<!-- Cart -->
        	<div class="col-lg-9 col-md-9 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">SHOPPING CART</span>
            	</div>
	            <div class="col-lg-12 col-sm-12 hero-feature">
					<%= form_tag update_cart_checkout_path, method: :put do %>
					<div class="table-responsive">
					<table class="table table-bordered tbl-cart">
						<thead>
                            <tr>
                                <td class="hidden-xs">Image</td>
                                <td>Product Name</td>
                                <!-- <td>Size</td> -->
                                <!-- <td>Color</td> -->
                                <td class="td-qty">Quantity</td>
                                <td>Unit Price</td>
                                <td>Sub Total</td>
                                <td>Remove</td>
                            </tr>
                        </thead>
												
												
		
                        <tbody>
													<% current_or_guest_user.cart.cart_items.each do |cart_item| %>
													
                            <tr>
                                <td class="hidden-xs">
																	<%= link_to product_path(cart_item.variant.product) do %>
																	<%= image_tag cart_item.variant.products_color.product_images.first.image_url(:thumb) %>
																	<% end %>
                                    
                                </td>
                                <td><%= link_to cart_item.variant.product.name, product_path(cart_item.variant.product) %>
                                </td>
                                <!-- <td>
                                    <select name="">
                                        <option value="" selected="selected">S</option>
                                        <option value="">M</option>
                                    </select>
                                </td> -->
                                <!-- <td>-</td> -->
                                <td>
																	<%= text_field_tag "cart_items[#{cart_item.variant_id}]", cart_item.quantity, class: "form-control text-center" %>
                                    <!-- <input type="text" name="" value="1" class="input-qty form-control text-center" /> -->
                                </td>
                                <td class="price"><%= humanized_money_with_symbol(cart_item.variant.price) %></td>
                                <td><%= humanized_money_with_symbol cart_item.total %></td>
                                <td class="text-center">
																	<%= link_to "<i class='fa fa-trash-o'></i>".html_safe, cart_item_path(cart_item), method: :delete %>
                                    <!-- <a href="#" class="remove_cart" rel="2">
                                        <i class="fa fa-trash-o"></i>
                                    </a> -->
                                </td>
                            </tr>
														<% end %>
                            <!-- <tr>
                                <td class="hidden-xs">
                                    <a href="detail.html">
                                        <img src="images/product-12.jpg" alt="Adidas Men Red Printed T-shirt" title="" width="47" height="47" />
                                    </a>
                                </td>
                                <td><a href="detail.html">Adidas Men Red Printed T-shirt</a>
                                </td>
                                <td>
                                    <select name="">
                                        <option value="">S</option>
                                        <option value="" selected="selected">M</option>
                                    </select>
                                </td>
                                <td>
                                	<select name="">
                                        <option value="" selected="selected">Red</option>
                                        <option value="">Blue</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="" value="2" class="input-qty form-control text-center" />
                                </td>
                                <td class="price">$ 20.63</td>
                                <td>$ 41.26</td>
                                <td class="text-center">
                                    <a href="#" class="remove_cart" rel="1">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr> -->
                            <tr>
                                <!-- <td colspan="6" align="right">Total</td> -->
                                <td colspan="4" align="right">Total</td>
                                <td class="total" colspan="2"><b><%= humanized_money_with_symbol current_or_guest_user.cart.total %></b>
                                </td>
                            </tr>
                        </tbody>
					</table>
					</div>
					<div class="btn-group btns-cart pull-left">

						<button type="button" class="btn btn-primary bottom-marg btn-sm" onclick="window.location='/'"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</button>
						<br class="visible-xs">
						<br class="visible-xs">
						
						<% if current_or_guest_user.cart.cart_items.empty? %>
						</div>
						<% else %>
						<%= submit_tag "Update Cart", class: "btn btn-primary bottom-marg btn-sm" %>
						</div>
						<div class="btn-group btns-cart pull-right">
						
					
						<%= button_tag(type: 'submit', class: "btn btn-success btn-lg bottom-marg") do %>
						Checkout <i class="fa fa-arrow-circle-right"></i>
						<br class="visible-xs">
						</div>
						<% end %>
						<%#= submit_tag "Checkout", class: "btn btn-primary" %>
						<!-- <button type="button" class="btn btn-primary">Update Cart</button>
						<button type="button" class="btn btn-primary" onclick="window.location='checkout/billing'">Checkout <i class="fa fa-arrow-circle-right"></i></button> -->
						<% end %>
					</div>
					<% end %>

	            </div>
        	</div>
        	<!-- End Cart -->


        </div>
	</div>

