<h1>Edit product</h1>


<%= nested_form_for [:admin, @product], multipart: true do |form| %>

	<% if @product.errors.any? %>
	<ul>
	  <% @product.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
	<% end %>
	<div class="field">
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>
	<div class="field">
		<%= form.label :short_description %>
		<%= form.text_area :short_description %>
	</div>
	<div class="field">
		<%= form.label :long_description %>
		<%= form.text_area :long_description %>
	</div>
	
	<div class="field">
		<%= form.label :category_id, "Category" %>
		<%= form.collection_select :category_id, Category.all, :id, :name %>
	</div>
	
	<div class="field vendor_container">
		<%= form.label :vendor_id, "Vendor" %>
		<%= form.select :vendor_id, vendor_options_with_extra_link_to_create_vendor(form.object.vendor_id) %>
	</div>
	
	<div class="field material_container">
		<%= form.label :material_id, "Material" %>
		<%= form.select :material_id, material_options_with_extra_link_to_create_material(form.object.material_id) %>
	</div>
	
	<div class="field shape_container">
		<%= form.label :shape_id, "Shape" %>
		<%= form.select :shape_id, shape_options_with_extra_link_to_create_shape(form.object.shape_id) %>
	</div>
	
	<div class="field">
		<%= form.label :taxable %>
		<%= form.check_box :taxable %>
	</div>
	
	
	<h3>Master Price Adjuster</h3>
	<%= text_field_tag "master_price", nil, id: "master_price" %>
	
	<%= form.fields_for :products_colors do |pc| %>
		<%= render 'products_color.html.erb', :pc => pc %>
		
		<%= pc.link_to_add "Add Variant", :variants %>
	<% end %>
	
	
	<div>
		<%= form.link_to_add "Add Color", :products_colors %>
	</div>
	<h3>Men's Color Order</h3>
	<ul class="sorted_product_mens_color_list">
		<% form.object.products_colors.order('mens_sort_order ASC').each do |products_color| %>
			<li id="<%= products_color.id %>">
				<%= products_color.color.name %>
			</li>
		<% end %>
	</ul>
	
	<h3>Women's Color Order</h3>
	<ul class="sorted_product_womens_color_list">
		<% form.object.products_colors.order('womens_sort_order ASC').each do |products_color| %>
			<li id="<%= products_color.id %>">
				<%= products_color.color.name %>
			</li>
		<% end %>
	</ul>

	<div class="field">
		<%= form.label :page_title %>
		<%= form.text_field :page_title %>
	</div>
	<div class="field">
		<%= form.label :meta_description %>
		<%= form.text_area :meta_description %>
	</div>
	
	
	<div class="field">
		<label class="radio">
			<%= form.radio_button :active, true, checked: form.object.active? %>
			Active
		</label>
		<label class="radio">
			<%= form.radio_button :active, false, checked: !form.object.active? %>
			Inactive
		</label>
	</div>
	
	<%= form.submit %>
	
<% end %>

<%= link_to "Delete Product", admin_product_path(@product), method: :delete, confirm: "Are you sure?"%>