    <% content_for :title, @product.name %>
		
		<% if @product.meta_description.present? %>
	    <% content_for :meta_description, @product.meta_description %>
		<% end %>
		
		<div class="container main-container">
        <div class="row">
        	<div class="col-lg-3 col-md-3 col-sm-12">

				<!-- Best Seller -->
				<%= render "shared/best_seller" %>
				<!-- End Best Seller -->

        	</div>

        	<div class="clearfix visible-sm"></div>

			<!-- Product Detail -->
        	<div class="col-lg-9 col-md-9 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title"><%= @product.name %></span>
            	</div>

	            <div class="col-lg-12 col-sm-12 hero-feature">
								<div class="col-lg-6">
									<br>
								<div class="sp-wrap" style="display: inline-block;">
            		<div class='sp-large' style="background: none;">
									<% @product.product_images.each do |product_image| %>
										<%= link_to image_tag(product_image.image_url, width: "396", height: "400"), product_image.image_url %>
									<% end %>
								</div>
								
					</div>
					</div>
					<div class="col-lg-6">
					<h3><%= @product.name %></h3>

					<hr/>
					<%= @product.long_description %>
					
					<h4>Measurements</h4>
					<%= @product.products_colors.try(:last).try(:variants).try(:last).try(:measurements) %>
					
					<h4>Recommended Age Group</h4>
					<%= @product.age_group %>
					
					<hr/>
					<h3><%= humanized_money_with_symbol @product.variants.last.price %></h3>
					<% @product.products_colors.each do |pc| %>
						<div>
	
							<% pc.variants.each do |variant| %>
								<%= form_tag add_to_cart_checkout_path, method: :post do %>
								<div class="input-qty-detail">
									<%= text_field_tag "quantity", "1", class: "form-control input-qty text-center" %>
								</div>
								<%= hidden_field_tag "variant_id", variant.id %>
								<%= submit_tag "Add to cart", class: "btn btn-primary pull-left" %>
								<% end %>
							<% end %>
						</div>
					<% end %>

					<br/>
					<hr/>
					<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
						<a class="addthis_button_preferred_1"></a>
						<a class="addthis_button_preferred_2"></a>
						<a class="addthis_button_preferred_3"></a>
						<a class="addthis_button_preferred_4"></a>
						<a class="addthis_button_compact"></a>
					</div>
					<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-4f0c254f1302adf8"></script>
	            </div>
	            <div class="clearfix"></div>
						</div>
							<% if !@product.collections.empty? && !(@product.collections.first.products - [@product]).empty? %>
	            <div class="col-lg-12 col-sm-12">
            		<span class="title">RELATED PRODUCTS</span>
            	</div>

							<% (@product.collections.first.products - [@product])[0..2].compact.each do |product| %>
            	<div class="col-lg-4 col-sm-4 hero-feature text-center">
	                <%= render partial: "shared/product_thumbnail", locals: {product: product} %>
	            </div>
							<% end %>
							
	            
        	</div>
					<% end %>
        	<!-- End Product Detail -->


        </div>
	</div>


