<!DOCTYPE html>
<html>
<head>
  <title>Toddler Tents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	    <div class="container">
	        <div class="row">

	        	<!-- Logo -->
	            <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
	            	<div class="well logo">
	            		<%= link_to root_path do %>
										<%= image_tag "tents-logo.png", width: 300 %>
									<% end %>
	            			<!-- Mimity <span>Online Shop</span>
	            		</a>
	            		<div>Lorem ipsum dolor sit amet.</div> -->
	            	</div>
	            </div>
	            <!-- End Logo -->

				<!-- Search Form -->
	            <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
	            	<div class="well">
	                    <form action="">
	                        <div class="input-group">
														<h4>
															Let your little ones create a world of their own.
														</h4>
														<h4>
															Quality tents great for both indoors and outdoors.
														</h4>
	                            <!-- <input type="text" class="form-control input-search" placeholder="Enter something to search"/>
	                            <span class="input-group-btn">
	                                <button class="btn btn-default no-border-left" type="submit"><i class="fa fa-search"></i></button> -->
	                            </span>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <!-- End Search Form -->

	            <!-- Shopping Cart List -->
	            <div class="col-lg-3 col-md-4 col-sm-5">
	                <div class="well">

	                    <div class="btn-group btn-group-cart">
	                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	                            <span class="pull-left"><i class="fa fa-shopping-cart icon-cart"></i></span>
	                            <span class="pull-left">
																Shopping Cart: 
																<% if anonymous_user? %>
																	0 items
																<% else %>
																	<%= pluralize current_or_guest_user.cart.cart_items.count, "items" %>
																<% end %>
															</span>
	                            <span class="pull-right"><i class="fa fa-caret-down"></i></span>
	                        </button>
	                        <ul class="dropdown-menu cart-content" role="menu">
														<% if !anonymous_user? && !current_or_guest_user.cart.cart_items.empty? %>
														<% current_or_guest_user.cart.cart_items.each do |cart_item| %>
                                <li>
																	<%= link_to product_path(cart_item.variant.product) do %>
	                                  <b><%= cart_item.variant.product.name %></b>
	                                  <span>x<%= cart_item.quantity %> <%= humanized_money_with_symbol cart_item.variant.price %></span>
																
																	<% end %>
																</li>
														<% end %>
                                <li class="divider"></li>
																<li>
																<%= link_to checkout_path do%>
																	Total: <%= humanized_money_with_symbol current_or_guest_user.cart.total %>
																<% end %>
																</li>
																
															<% else %>
															<li>Your cart is empty.</li>
															<% end %>
                            </ul>
	                    </div>
	                </div>
	            </div>
	            <!-- End Shopping Cart List -->
	        </div>
	    </div>
    </header>

	<!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- text logo on mobile view -->
                <a class="navbar-brand visible-xs" href="index.html">Mimity Online Shop</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to "Home", root_path %></li>
                    
										<% Collection.all.each do |collection| %>
											<li>
												<%= link_to "#{collection.name} Tents", collection_path(collection) %>
											</li>
										<% end %>
                    <li class="nav-dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Pages <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="about.html">About Us</a></li>
							<li><a href="contact.html">Contact Us</a></li>
							<li><a href="typography.html">Typography</a></li>
						</ul>
                    </li>
										

                </ul>

								<div class="float-right">
									<ul class="nav navbar-nav">
		                
										<% if current_user %>
											<li class="float-right"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
										<% else %>
											<li class="float-right"><%= link_to "Log in", new_user_session_path %></li>
											<li class="float-right"><%= link_to "Sign up", new_user_registration_path %></li>
										<% end %>
										<li class="float-right"><%= link_to "Shopping Cart", checkout_path %></li>
									</ul>
								</div>
            </div>
        </div>
    </nav>
    <!-- End Navigation -->
	
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

	<footer>
    	<div class="container">
        	<div class="col-lg-3 col-md-3 col-sm-6">
        		<div class="column">
        			<h4>Information</h4>
        			<ul>
        				<li><a href="about.html">About Us</a></li>
        				<li><a href="typography.html">Policy Privacy</a></li>
        				<li><a href="typography.html">Terms and Conditions</a></li>
        				<li><a href="typography.html">Shipping Methods</a></li>
        			</ul>
        		</div>
        	</div>
        	<div class="col-lg-3 col-md-3 col-sm-6">
        		<div class="column">
        			<h4>Categories</h4>
        			<ul>
        				<li><a href="catalogue.html">Cras justo odio</a></li>
        				<li><a href="catalogue.html">Dapibus ac facilisis in</a></li>
        				<li><a href="catalogue.html">Morbi leo risus</a></li>
        				<li><a href="catalogue.html">Porta ac consectetur ac</a></li>
        			</ul>
        		</div>
        	</div>
        	<div class="col-lg-3 col-md-3 col-sm-6">
        		<div class="column">
        			<h4>Customer Service</h4>
        			<ul>
        				<li><a href="contact.html">Contact Us</a></li>
        				<li><a href="#">YM: erwin_heldy</a></li>
        				<li><a href="#">Telp: 087825376xxx</a></li>
        				<li><a href="#">Email: erwin.heldy@gmail.com</a></li>
        			</ul>
        		</div>
        	</div>
        	<div class="col-lg-3 col-md-3 col-sm-6">
        		<div class="column">
        			<h4>Follow Us</h4>
        			<ul class="social">
        				<li><a href="#">Google Plus</a></li>
        				<li><a href="#">Facebook</a></li>
        				<li><a href="#">Twitter</a></li>
        				<li><a href="#">RSS Feed</a></li>
        			</ul>
        		</div>
        	</div>
        </div>
        <div class="navbar-inverse text-center copyright">
        	Copyright &copy; 2013 Mimity All right reserved
        </div>
    </footer>

    <a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
    	<i class="fa fa-angle-double-up"></i>
    </a>


</body>
</html>
